<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Clueless Closet | <%= title %></title>
<link rel="stylesheet" type="css" href="../../styles/main.css">
<style>
    header h1 {
        text-align: center;

    }
    #nav_div {
        display: flex;
    }
    nav ul {
        margin: 0;
    }
    nav li{
        list-style-type: none;
        margin: 5px;
    }
    a {
        text-decoration: none;
        padding: 15px;
    }
    main {
        text-align: center;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>