<img src="/../../images/hanger_icon.svg" width="100" alt="logo"><h1>Clueless Closet</h1>
<div id="nav_div">
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/closet">My Closet</a>
            </li>
        </ul>
    </nav>
    <div>
        <a href="/logout">Logout</a>
    </div>
</div>
<hr>