<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Postal Rate</title>
    <link rel="stylsheet" href="styles/main.css">
</head>
<body>
    <a href="/form.html">Postal Rate Calculator</a>
    
</body>
</html>