<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}); %>
    <script>
        function getCloset(userId) {
        console.log("Getting user's clothes...");

        $.post("/user-clothes", {userId:userId}, function(clothes) {
            console.log("back from server with:");
            console.log(clothes);
            //append to output div
            $("#closet_output").append("<p>" + clothes[0].clothingtype + "</p>");
        })
    }
    </script>
</head>
<body onload="getCloset(1)">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>My Closet</h1>
        <div id="closet_output">
            
        </div>
        <form action="/add" method="GET">
            <input type="submit" value="Add New Item">
        </form>
    </main>
    <footer>
        <%- include('../partials/footer', {dateString: dateString}); %>
    </footer>
</body>
</html>