<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>My Closet</h1>
        <div>
            <h2>Your Items:</h2>
            
        </div>
        <form action="/add" method="GET">
            <input type="submit" value="Add New Item">
        </form>
    </main>
    <footer>
        <%- include('../partials/footer', {dateString: dateString}); %>
    </footer>
</body>
</html>