<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}); %>
    <script>
        function checkCloset() {
            let closetDiv = document.getElementById('closet_output');
            console.log(closetDiv.children.length);
            if (closetDiv.children.length < 2) {
                let notice = document.createElement('p');
                notice.textContent = "Your closet is empty."
                closetDiv.appendChild(notice);
            }
        }
    </script>
</head>
<body onload="checkCloset()">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>My Closet</h1>
        <div id="closet_output">
            <h2>Your Items:</h2>
            
        </div>
        <form action="/add" method="GET">
            <input type="submit" value="Add New Item">
        </form>
    </main>
    <footer>
        <%- include('../partials/footer', {dateString: dateString}); %>
    </footer>
</body>
</html>