<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1>Create Account</h1>
        <div>
            <form action="/createAccount" method="POST">
                <label for="firstName" required>First Name</label>
                <input type="text" name="firstName" required>

                <label for="lastName" required>Last Name</label>
                <input type="text" name="lastName" required>

                <label for="zipCode" required>Zip Code</label>
                <input type="text" name="zipCode" required>

                <label for="userEmail" required>Email</label>
                <input type="text" name="userEmail" required>

                <label for="userPassword" required>Password</label>
                <input type="password" name="userPassword" required>

                <br><br>
                
                <input class="button" type="submit" value="Create Account">
            </form>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer', {dateString: dateString}); %>
    </footer>
</body>
</html>