<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postal Rate</title>
    <link rel="stylsheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <h1>Postal Rate</h1>
    <ul>
        <li>Weight: <%= weight %>oz</li>
        <li>Type: <%= type %></li>
        <li>Rate: $<%= rate %></li>
    </ul>
    <a href="/form.html">New Rate</a>
</body>
</html>