@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans+Condensed:wght@300&display=swap');
    body {
        background-color: #FFDAD6;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    h1, h2, h3 {
        font-family: 'Nerko One', cursive;
    }
    header h1 {
        text-align: center;
        font-size: 4em;
    }
    #nav_div {
        display: grid;
        grid-template-columns: 1fr 100px;
        grid-gap: 100px;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav li{
        list-style-type: none;
        margin: 5px;
    }
    a {
        display: block;
        text-decoration: none;
        padding: 5px 15px;
        color: black;
    }
    a:hover {
        text-decoration: underline;
        color: #FFA299;
    }
    main {
        text-align: center;
    }
    .success {
        background-color: #9AC482;
    }
    .warning {
        background-color: #EDD16E;
    }
    .back {
        display: inline;
    }
    label, input {
        display: block;
    }
