<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../parials/head'); %>
</head>
<body>
    <header>
        <% include('../parials/header'); %>
    </header>
    <main>
        <h2>404</h2>
        <p>Sorry, the requested page at: <% url %> could not be found.</p>
    </main>
    <footer>
        <% include('../partials/footer'); %>
    </footer>
</body>
</html>